<footer class="site-footer h-card">
    <hr class="light-divider">
    <hr class="dark-divider">
    <hr class="light-divider">
    
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

   
  <div class="footer__content d-flex justify-content-between"> 
    <div class="footer__logo">
        <img width="400px" src="assets/images/UCLH Values image.jpg">
    </div>
    <div class="footer__menu">
        <ul>
            <li>About</li>
            <li>Give Feedback</li>
            <li>Submit a Project</li>
            <li>GitHub (icon instead/as well?)</li>
        </ul>
    </div>
    <div class="footer__legal">
        <ul>
            <li>Site last updated: {{site.time | date_to_string: "ordinal"  }}</li>
            <li>Terms of Use</li>
            <li>Privacy Statement</li>
            <li>© UCLH 2023</li>
        </ul>
    </div>
  </div>
    <!-- <div class="container mt-5">
        <hr>
        
    </div> -->
  
  </footer>