<div class="col">
	<div class="card mb-3 project-card" style="height: 18rem">
		<div class="card-header">
			<div class="row justify-content-between">
				<div class="col-9">
					<h5>{{project.title}}</h5>
				</div>
				<div class="col-3">
					<p><span class="badge rounded-pill {{project.status}}">{{project.status}}</span></p>
				</div>
			</div>

			<small class="text-muted authors">
				{%- if project.authors -%}
				  {% capture authors %}
				    {%- for author in project.authors -%}
					  {{ author }}
				    {%- if forloop.last == false -%},{%- endif -%} 
					{%- endfor -%} 
				  {% endcapture %}
				  {{authors | replace: ",", ", " | truncate:40}}<span class="tooltiptext">{{authors | replace: ",", ", "}}</span>
				{%- endif -%}
			</small>
		</div>

		{% if project.img %}
		<img
			src="{{project.img.url}}"
			class="card-img-top"
			alt="{{project.img.alt}}"
		/>
		{% endif %}
		<div class="card-body">
			<p class="card-text">{{project.excerpt | truncate: 160}}</p>
			<p class="card-text"></p>
		</div>
		<div class="card-footer">
			<a href="{{project.url | relative_url }}" class="btn btn-outline-primary"
				>Details</a
			>
		</div>
	</div>
</div>
