/*
 * Definition of SCSS variables for branding.
 * To include before any third party like Bootstrap.
 */

$uclh-dark-jade: rgb(0, 122, 133);
$uclh-light-jade: rgb(172, 220, 212);

$uclh-cool-green: rgb(0, 169, 79);
$uclh-cool-blue: rgb(0, 147, 208);
$uclh-cool-dark-blue: rgb(0, 83, 155);

$uclh-warm-burgundy: rgb(163, 1, 52);
$uclh-warm-red: rgb(238, 49, 36);
$uclh-warm-orange: rgb(248, 151, 29);
$uclh-warm-yellow: rgb(255, 242, 0);

$accent-colour: $uclh-warm-burgundy;

$background-colour-highlight: #E4E5E6;
