@import "bootstrap";

// Dynamic (CSS) variables used at run-time, interpolated from SCSS
:root {
	--uclh-dark-jade: #{ $uclh-dark-jade };
	--uclh-light-jade: #{ $uclh-light-jade };
	--uclh-cool-dark-blue: #{ $uclh-cool-dark-blue };
	--uclh-cool-blue:  #{ $uclh-cool-blue };

	--primary: #{ $primary };
	--secondary: #{ $secondary };
	--accent-colour: #{ $accent-colour };

	--background-colour-highlight: #{ $background-colour-highlight };
}


html, body {
	height: 100%;
}

@import "navbar";
@import "search";
@import "footer";
@import "project-card";


.body-inner {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100%;
}

.content {
	padding: 1rem 0;
}

.post {
	.tab-content {
		padding-top: 1rem;
	}

	iframe {
		width: 100%;
		min-height: 50vh;
	}
}

.badge {
	font-size: 0.3em;

	&.ongoing {
		background-color: $accent-colour;
	}

	&.completed {
		background-color: $primary;
	}
}
