// Static (SCSS) variables, required to use functions like "darken"
$uclh-dark-jade: rgb(0, 122, 133);
$uclh-light-jade: rgb(172, 220, 212);
$uclh-orange: rgb(248, 151, 29);
$uclh-cool-dark-blue: rgb(0, 83, 155);
$uclh-cool-blue: rgb(0, 147, 208);

$primary: $uclh-cool-dark-blue;
$secondary: #BDCDD6;
$accent-colour: #8E3146;
$demo-colour:#49B706;
$background-colour: #FFFFFF;

$background-colour-highlight: #E4E5E6;
$text-colour: #333333;

// Dynamic (CSS) variables used at run-time, interpolated from SCSS
:root {
	--uclh-dark-jade: #{ $uclh-dark-jade };
	--uclh-light-jade: #{ $uclh-light-jade };
	--uclh-orange: #{ $uclh-orange };
	--uclh-cool-dark-blue: #{ $uclh-cool-dark-blue };
	--uclh-cool-blue:  #{ $uclh-cool-blue };

	--primary: #{ $primary };
	--secondary: #{ $secondary };
	--demo-colour: #{ $demo-colour };
	--accent-colour: #{ $accent-colour };
	--background-colour: #{ $background-colour };

	--background-colour-highlight: #{ $background-colour-highlight };
	--text-colour: #{ $text-colour };
}


html, body {
	height: 100%;
	color: var(--text-colour);
	background-color: var(--background-colour);
}

a {
	color: var(--primary);
	text-decoration: none;
	&:hover {
		color: var(--accent-colour);
	}
}

@import "navbar";
@import "search";
@import "footer";


#data iframe {
	margin: 1rem;
	background-color: gray;
}

.body-inner {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100%;
}

.content {
	padding: 1rem 0;
}

.project-card {
	.card-header {
		background-color: var(--secondary);
	}

	.card-footer {
		background-color: var(--secondary);
	}

	.btn-outline-primary {
		color: var(--accent-colour);
		border-color: var(--accent-colour);
		background-color: var(--secondary);

		&:hover {
			color: #fff;
			border-color: var(--secondary);
			background-color: var(--accent-colour);
		}
	}

	.badge {
		font-size: 0.75em;
	}
}

.badge {
	font-size: 0.5em;

	&.demo {
		background-color: var(--demo-colour);
	}

	&.ongoing {
		background-color: var(--accent-colour);
	}

	&.completed {
		background-color: var(--primary);
	}
}

.authors {
	.tooltiptext {
		visibility: hidden;
		width: 300px;
		background-color: #555;
		color: #fff;
		text-align: center;
		padding: 5px 0;
		border-radius: 6px;

		/* Position the tooltip text */
		position: absolute;
		z-index: 1;
		top: 35px;
		left: 70px;
		margin-left: -60px;

		/* Fade in tooltip */
		opacity: 0;
		transition: opacity 0.3s;
	}

  	&:hover .tooltiptext {
		visibility: visible;
		opacity: 1;
	}
}
